@import "../styles";

.FlexContainer {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  max-height: 10vh;
  margin: 0;
  background-color: map-get($colors, Component);
  .items-container {
    display: flex;
    flex-direction: row;
    margin: aut0;
  }

  .pic {
    height: 80%;
  }

  .Nav-item {
    text-decoration: none;
    margin: 1rem;
    color: map-get($colors, Prim-text);
  }
}
