@import "../styles";

.Dashboard {
  display: flex;
  //justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Montserrat";

  padding: 1em 0;
  width: 100vw;
  height: 110vh;

  margin-bottom: 10px;
  color: map-get($colors, Prim-text);

  position: +1;
  .Dash {
    //dette er hele elementet er navbar og elemnt liger
    display: flex;
    flex-direction: row;
    .screen {
      //dette er hele elemntet av skjermen til høyere for navbar
      //border: 1px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 90vw;
      height: 90vh;

      margin: 1rem;

      .Element {
        display: flex;
        flex-direction: column;

        text-align: center;
        background-color: map-get($colors, Component);
        //generell design for elementene på dashboard
        border-radius: 5px;
        //border: 3px solid blue;
        max-height: 25vw;
        min-height: 25vw;
        min-width: 25vw;
        max-width: 25vw;

        .Maps {
          margin-left: 10rem;
          width: 100rem;
          height: 100rem;
          border: 3px solid blue;
        }
      }
    }
  }

  .signin {
    margin-left: 15%;
  }

  h1 {
    color: map-get($colors, Prim-text);
  }

  .signout {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;

    padding: 1rem;
    font-size: 20px;

    color: map-get($colors, Prim-text);
    background-color: darken(map-get($colors, Component), 5%);
    border: 2px outset map-get($colors, t-green);

    border-radius: 300px;

    &:hover {
      color: map-get($colors, t-green);
      border: 2px outset map-get($colors, t-pink);

      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-right: 1rem;
      padding-left: 1rem;

      background-color: darken(map-get($colors, Component), 5%);
      //border: 10px outset ligthen(map-get($colors, t-green), 40%);
      border-radius: 300px;
    }
  }
}
