@import "../styles";

.Dashboard {
  text-align: center;
  color: map-get($colors, Prim-text);
  height: 100%;
  .Dash {
    margin-top: 4vh;
    //dette er hele elementet er navbar og elemnt liger
    display: flex;
    flex-direction: row;
    height: 100%;
    //widows: 100%;
    //border: 5px solid red;
    .navbar {
      margin: 0;
      min-height: 95vh;
    }

    .screen {
      //dette er hele elemntet av skjermen til høyere for navbar
      //gborder: 1px solid red;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      margin: 0;
      margin-bottom: 10%;

      .Element {
        display: flex;
        flex-direction: column;

        text-align: center;
        background-color: map-get($colors, Component);
        //generell design for elementene på dashboard
        border-radius: 5px;
        //border: 3px solid blue;
        max-height: 25vw;
        min-height: 25vw;
        min-width: 25vw;
        max-width: 25vw;
      }
    }
  }

  .signin {
    align-self: flex-start;
    //border: 1px solid red;
  }

  h1 {
    color: map-get($colors, Prim-text);
  }
}
