@import "../styles";

.Dashboard {
  display: flex;
  //justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Montserrat";

  padding: 1em 0;
  width: 100vw;
  height: 110vh;

  margin-bottom: 10px;
  color: map-get($colors, Prim-text);

  position: +1;

  .signin {
    margin-left: 25vw;
  }

  h1 {
    color: map-get($colors, Prim-text);
  }

  .signout {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;

    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 20px;

    text-align: center;
    color: map-get($colors, Prim-text);
    background-color: darken(map-get($colors, Component), 5%);
    border: 2px outset map-get($colors, t-green);

    border-radius: 300px;

    &:hover {
      color: map-get($colors, t-green);

      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-right: 1rem;
      padding-left: 1rem;

      background-color: darken(map-get($colors, Component), 5%);
      //border: 10px outset ligthen(map-get($colors, t-green), 40%);
      border-radius: 300px;
    }
  }
}
