@import "../styles";

.Dashboard {
  text-align: center;
  color: map-get($colors, Prim-text);
  height: 100%;
  .Dash {
    margin-top: 4vh;
    //dette er hele elementet er navbar og elemnt liger
    display: flex;
    flex-direction: row;
    height: 100%;
    widows: 100%;
    .navbar {
      margin: 0;
    }

    .screen {
      //dette er hele elemntet av skjermen til høyere for navbar
      border: 1px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;
      height: 80vh;

      margin: 0;

      .Element {
        display: flex;
        flex-direction: column;

        text-align: center;
        background-color: map-get($colors, Component);
        //generell design for elementene på dashboard
        border-radius: 5px;
        //border: 3px solid blue;
        max-height: 25vw;
        min-height: 25vw;
        min-width: 25vw;
        max-width: 25vw;

        .Maps {
          margin-left: 10rem;
          width: 100rem;
          height: 100rem;
          border: 3px solid blue;
        }
      }
    }
  }

  .signin {
    align-self: flex-start;
    //border: 1px solid red;
  }

  h1 {
    color: map-get($colors, Prim-text);
  }
}
