@import "src/styles";

.Maps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 99%;
  min-height: 100%;
  margin: 0 auto;

  position: "absolute";
  //border: 1px solid red;

  //padding-bottom: -100vh;
  //padding: 2.8rem;
}

.dimButton {
  border-radius: 100px;
}
