@import "src/styles";

.Maps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 80%;
  margin: 1%;
  margin-bottom: 10%;

  //border: 1px solid red;
  padding: 1%;

  //padding-bottom: -100vh;
  //padding: 2.8rem;
}
