@import "src/styles";

.Maps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 50rem;
  margin: 3px auto;
  position: "absolute";
  //border: 1px solid red;

  //padding-bottom: -100vh;
  //padding: 2.8rem;
}
