@import "../styles";

.Home {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  margin: 0;

  padding: 1em 0;
  width: 100vw;
  height: 100vh;

  margin-bottom: 10px;
  color: map-get($colors, Prim-text);
  border: 1px solid green; //bare for å markere hvor ting ligger

  .H-el {
    text-align: center;
  }

  h1 {
    border: 1px solid green; //bare for å markere hvor ting ligger
  }
}
