@import "../styles";

.Flex-navbar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin: 0rem;
  padding: 0;

  margin-top: -2rem;
  margin-bottom: -2rem;
  color: map-get($colors, Prim-text);

  background-color: map-get($colors, Component);

  font-size: 1rem;
  width: 8vw;
  height: 100%;
  //border: 3px solid red;
  //min-height: 100%;

  .items-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    min-height: 95%;

    //border: 3px solid red;

    .seperator {
      margin: 0;
      //border: 3px solid blue;
    }

    //border: 3px solid blue;
  }
  .logo {
    display: flex;
    //border: 1px solid red;
    display: flex;
    align-self: center;
    margin: 0;
  }
  .logolink {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    //border: 1px solid green;
    display: flex;
  }

  .pic {
    width: 70%;
    height: 70%;
    border-radius: 300px;

    //border: 1px solid map-get($colors, Prim-text);
  }
  .user {
    text-align: center;
    font-size: 100%;
    margin: 0;
  }

  .Nav-item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 0;

    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;

    font-size: 130%;
    //border: 3px solid red;

    color: map-get($colors, Prim-text);
    background-color: map-get($colors, Component);

    border-top: 1px solid darken(map-get($colors, Component), 5%);

    &:hover {
      color: map-get($colors, t-green);

      background-color: darken(map-get($colors, Component), 5%);
      border-color: ligthen(map-get($colors, Component), 5%);
    }
  }
}

.signout {
  //knappen som signerer ut

  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;

  padding: 0.5vw;
  font-size: 1.5vw;

  color: map-get($colors, Prim-text);
  background-color: darken(map-get($colors, Component), 5%);
  border: 2px outset map-get($colors, t-green);

  border-radius: 300rem;

  &:hover {
    color: map-get($colors, t-green);
    border: 2px outset map-get($colors, t-pink);

    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: darken(map-get($colors, Component), 5%);
    //border: 10px outset ligthen(map-get($colors, t-green), 40%);
    border-radius: 300px;
  }
}

.full {
  margin: 0 auto;
}
