@import "../styles";

.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  font-family: "Montserrat";

  padding: 1em 0;

  margin-bottom: 10px;
  color: map-get($colors, Prim-text);

  .cont {
    display: flex;
    flex-direction: column;
    //border: 2px solid map-get($colors, t-pink);

    margin: 0 auto;

    width: 50%;
    .h1 {
      color: map-get($colors, t-green);
    }
  }
}
.tekst {
  color: white;
  margin: 0 auto;
  margin-bottom: 10%;
  width: 70%;
}
