//her skal alle globale style variabler ligge som bakrunsfarge oandre elementer som strekker seg over flere sider
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
$colors: (
  BG: black,
  //Component: #292929,
    Component: #1d1d1d,
  Prim-text: White,
  //t-green: #17fea0,
    t-green: #2696a1,
  t-pink: rgb(255, 102, 128),
) !global;
