//her skal alle globale style variabler ligge som bakrunsfarge oandre elementer som strekker seg over flere sider

$colors: (
  BG: #000000,
  Component: #292929,
  Prim-text: White,
  t-green: #17fea0,
  t-pink: rgb(255, 102, 128)
) !global;
