@import "../styles"; //importerer globale fager

.FlexFooter {
  display: flex; //Flexbox vedig nyttig se denne lenken "https://css-tricks.com/snippets/css/a-guide-to-flexbox/"

  justify-content: flex-start; //del av flexbox
  align-items: center; //del av flexbox
  position: absolute; // låser footer på bånd
  bottom: 0px; //det samme her
  align-self: center;
  width: 100vw; //1 vw er 1% av skjermbredden setter til 100% her
  max-height: 20vh; //1 vh er 1% av skjer høyden
  min-height: 10vh;
  margin: 0;
  background-color: map-get($colors, Component);
  border: 1px solid green; //bare for å markere hvor ting ligger

  .F-items {
    display: flex;
    border: 1px solid green;

    align-items: center;
    max-height: 90vh;
  }
  .F-Logo {
    max-height: 9vh;
    border: 1px solid red;
    padding-right: 3vh; //er det det høres ut som
  }
}
